.row > div {
    background: lightblue;
    border: 1px solid blue;
    margin-bottom: 15px;
    min-height: 50px;
}

.row .row > div {
    background: #5F7DE6;
}

table, tr, td, tbody, thead {
    border: 1px solid blue;
}